img {
  -webkit-user-drag: none;
}

.image-container {
  position: relative;
}

.selection-overlay {
  position: absolute;
  border: 2px dotted  black;
  background-color: rgba(0, 0, 0, 0.3);;
  pointer-events: none;
}
